/*reset*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, small, strike, strong, sub, sup, b, dl, dt, dd, ol, ul, li,
fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, footer, header, hgroup,
menu, nav, output, section {
margin: 0;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
}
table{
	border-collapse: collapse;
}
h1, h2, h3, strong{
	font-weight: bold;
}
h1{
	font-size: 175%
}
h2{
	font-size: 150%
}
h3{
	font-size: 120%
}
/* general */
a {
	color: #339;
	text-decoration: none;
}
a:hover {
	color: #999;
	text-decoration: none;
}

/* body */
body {
	background: #ffffff;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

/* header */
header {
	border-bottom	: 2px solid #999;
	height: 80px;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
}
header h1 {
	color: #888;
	font-size: 300%;
	letter-spacing: -3px;
	text-align: right;
	padding: 5px;
	margin-bottom: -20px;
}
header h2 {
	color: #CCC;
	font-size: 200%;
	letter-spacing: -2px;
	text-align: right;
}
/*Userbar*/
.user_bar{
	background-color: #ddd;
	color: #333;
	text-align: right;
	z-index: 1;
	}
.user_bar ul ul {
	display: none;
}
.user_bar ul li:hover > ul {
	display: block;
	z-index: 2;

}
.user_bar ul {
	padding: 0;
	list-style: none;
	position: relative;
	display: inline-table;
	text-align: center;
}
.user_bar ul:after {
	content: "";
	clear: both;
	display: block;
}
.user_bar ul li {
	float: left;
}
.user_bar ul li:hover, #shopping_cart:hover {
	background-color: #333;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.user_bar ul li:hover a {
	color: #fff;
}
.user_bar ul li a {
	display: block;
	padding: 10px 20px;
	height: 100%;
	color: #757575;
	text-decoration: none;
	vertical-align: middle;
}
.user_bar ul ul {
	background: #5f6975;
	padding: 0;
	position: absolute;
	top: 100%;
	transition: height 0.5s ease;
}
.user_bar ul ul li {
	float: none;
	position: relative;
	border-top:1px solid #999;
	border-bottom:1px solid #555;
}
.user_bar ul ul li a {
	padding: 10px 10px;
	color: #fff;
	transition: all 0.5s ease;
}
.user_bar ul ul li a:hover {
	color:blue;
	transition: all 0.5s ease;
}
.user_bar ul ul li:hover{
	background: #4b545f;
	transition: all 0.5s ease;
}
.user_bar ul ul li div:hover{
	color: red;	
}
.user_bar ul ul ul {
	position: absolute; left: 100%; top:0;
}
#shopping_cart{
	background: url('../img/cart.png') no-repeat scroll 10px 50% transparent;
	padding-left: 35px;
}

/* navigation */
.navbar{
	background-color: #eee;
	border-bottom: 2px solid #999;	
}
.navbar ul ul {
	display: none;
}
.navbar ul li:hover > ul {
	display: block;

}
.navbar ul {
	padding: 0;
	list-style: none;
	position: relative;
	display: inline-table;
}
.navbar ul:after {
	content: "";
	clear: both;
	display: block;
}
.navbar ul li {
	float: left;
}
.navbar ul li:hover {
	background: #333;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.navbar ul li:hover a {
	color: #fff;
}
.navbar ul li a {
	display: block;
	padding: 10px 20px;
	height: 100%;
	color: #757575;
	text-decoration: none;
	vertical-align: middle;
}
.navbar ul ul {
	background: #5f6975;
	padding: 0;
	position: absolute;
	top: 100%;
	transition: height 0.5s ease;
	-webkit-transition: height 0.5s ease;
	-moz-transition: height 0.5s ease;
	-o-transition: height 0.5s ease;
}
.navbar ul ul li {
	float: none;
	position: relative;
	border-top:1px solid #999;
	border-bottom:1px solid #555;
}
.navbar ul ul li a {
	padding: 10px 10px;
	color: #fff;
}
.navbar ul ul li a:hover {
	background: #4b545f;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.navbar ul ul ul {
	position: absolute; left: 100%; top:0;
}
/*breadcrumbs*/
.breadcrumbs{
	margin: 15px 10px;
	
}


/* content */
#content {
	height: auto;
	margin: 0 auto;
	padding: 0 0 20px;
	width: 751px;
}
#content h1 {
	border-bottom: 1px dashed #999;
	font-size: 1.8em;
	padding: 20px 0 0;
}
#content p {
	padding: 20px 20px 0;
}
.paginator{
	float: right;
	padding:6px 0;
}
.cat_heading, .users_heading, .admin_product_list_heading{
	float:left;
}
/*View Customers*/
.customer_list, .admin_product_list, .administrator_list{
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	border: 1px solid #666;
	clear:both;
}
.customer_list tbody tr:nth-child(odd), .admin_product_list tbody tr:nth-child(odd), .administrator_list tbody tr:nth-child(odd){
	background-color: #eee;
}
.customer_list tbody td, .administrator_list tbody td{
	height:2em;
}
.customer_list tbody td input, .admin_product_list tbody td form input, .admin_product_list tbody td form, .administrator_list tbody td form {
	width: 100%;
	height: 100%;
}
.customer_list tbody td input:hover, .admin_product_list tbody td input:hover{
	background-color: #779;
	color: #fff;
}
.admin_product_list td:not(.action_column), .admin_product_list th{
	padding:3px 2px;
	border-left:1px solid #999;
}
/*Edit Customers*/
form input + label{
	padding-left: 15px;
}
form input:disabled{
	background-color: #DDD;
	color: #888;
}
form input[type="submit"]:disabled{
	background-color: #999;
	color: #BBB;
	border:1px solid red;
}
/* footer */
#footer {
	border-top: 1px solid #999;
	height: 50px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	width: 751px;
}
.page_selector{
	text-align: center;
	padding: 10px 20px;
	font-size: 110%;
	font-weight: bold;
	clear:both;
}
/* Added by Larry Ullman: */
.error, .ad {
	font-weight: bold;
	color: #C00
}
.confirm{
	display: inline-block;
	color:#090;
	border: 1px solid #090;
	background: #CFC;
	padding:5px;
	margin:10px 0;
}
input, select, .input, textarea {
	padding: 2px;
	font-size: 1em;
	color: #555;
	background: #FFFFFF;
	border: 1px dashed #333;
}
/*Category View*/
.products_block{
	border:1px solid black;
	display:table;
	width:100%;
}
.item_block{
	display: table-row;
	width: 100%;

}
.item_block:nth-child(even){
	background-color: #EEE;
}

.product_thumbnail, .product_info, .price_block{
	display: table-cell;
	vertical-align: middle;
	padding:5px;
	
}
.item_detail button{
	padding: 4px;
}
.price_block button, .item_detail button{
	background-color: #CCC;
}
.price_block button:hover, .item_detail button:hover{
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	background-color: #669;
}
.item_detail p{
	margin: 15px;
}
/*view Cart*/
.cart_table{
	width: 100%;
	margin: 20px 0 0;
	border-collapse:collapse;
}
.cart_table tr:nth-child(even){
	background: #DDD
}
.cart_table th{
	font-weight: bold;
}
.cart_table th, .cart_table td{
	border:1px solid #AAA;
	padding:2px 10px;
}
.cart_table tr td:nth-child(3), .cart_table tr td:nth-child(3){
	width: 175px;
	text-align: center;
}
.cart_table tr td:nth-child(4), .cart_table tr td:nth-child(4),
.cart_table tr td:nth-child(2), .cart_table tr td:nth-child(2){
	width: 80px;
	text-align: center;
}
.cart_table input[type=number]{
	width: 60px;
	text-align: center;
	margin-right: 10px;
}
/*orders*/
.order_list{
	width: 100%;
	margin-bottom: 25px;
	border: 2px solid darkgrey;
}
.order_list thead tr:nth-child(2){
	border-bottom: 2px solid darkgrey; 	
}
.order_list tbody tr:last-child td{
	border-top: 2px solid darkgrey; 
	text-align: right;
	padding: 0 50px 0 0;
	height:1.5em;
	line-height: 1.5em;
	vertical-align: middle;
}
.order_list tbody tr:last-child td span{
	display: inline-block;
	vertical-align: middle;
	line-height: normal; 
}
.order_list tbody tr:last-child td input{
	float: left;
}
.order_list td{
	border: 1px solid lightgrey;
	padding: 5px;
}
.order_list tbody tr:nth-child(odd){
	background-color: #eee;
}
.customer_info{
	border:1px solid grey;
	padding:4px;
	margin:10px 0;
}
/*footer*/
footer{
	text-align: center;
	vertical-align: middle;
	bottom: 0px;
	padding:10px 0;
	width: 800px;
	background-color: #ccc;
	clear:both;
}